 
[Desktop Entry]
Encoding=UTF-8
Name=QtSyncR
GenericName=File Backup Utility
Comment=File Backup Utility
Exec=QtSyncR %U
Temrinal=false
Type=Application
StartupNodify=false
Icon=qtsyncr
Categories=Utility